{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
    {% import 'common/icons.html.twig' as icons %}

    <h2>{{ 'admin.users.list.title'|trans }}</h2>

    <div class="mini-body">
        {{ form_start(form, {'action': path('app_admin_users_list')}) }}
        {{ form_widget(form) }}

        <input type="submit" value="{{ 'form.admin.users.filter.submit'|trans }}" class="btn btn-primary pull-right" />
        {{ form_end(form) }}
    </div>

    <div class="clear"></div>

    <div class="table-nbElements">{{ 'table.nb_elements'|transchoice(nbElements) }}</div>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>{{ 'admin.users.list.table.id'|trans }}</th>
                <th>{{ 'admin.users.list.table.username'|trans }}</th>
                <th>{{ 'admin.users.list.table.firstname'|trans }}</th>
                <th>{{ 'admin.users.list.table.lastname'|trans }}</th>
                <th>{{ 'admin.users.list.table.locale'|trans }}</th>
                <th>{{ 'admin.users.list.table.roles'|trans }}</th>
                <th>{{ 'admin.users.list.table.registration_state'|trans }}</th>
                <th>{{ 'admin.users.list.table.enabled'|trans }}</th>
                <th>{{ 'admin.users.list.table.first_connection'|trans }}</th>
                <th>
                    {{ 'admin.users.list.table.actions'|trans }}
                    <a href="{{ path('app_admin_users_create') }}" class="glyphicon glyphicon-plus-sign" title="{{ 'admin.users.list.link_add_user'|trans }}"></a>
                </th>
            </tr>
            {% for element in elements %}
                <tr>
                    <td><a href="{{ path('app_admin_users_edit', { 'id': element.id }) }}">{{ element.id }}</a></td>
                    <td>{{ element.username }}</td>
                    <td>{{ element.firstname }}</td>
                    <td>{{ element.lastname }}</td>
                    <td>{{ element.locale|upper }}</td>
                    <td>
                        {% for role in element.getTitleRoles %}
                            {{ role|trans }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ element.getTitleRegistrationState|trans }}</td>
                    <td>{{ icons.boolean(element.enabled) }}</td>
                    <td>{{ icons.boolean(element.firstConnection) }}</td>
                    <td>
                        {% if workflow_can(element, 'registration') %}
                            <a href="{{ path('app_admin_users_send_registration', { 'id': element.id }) }}" class="glyphicon glyphicon-envelope" title="{{ 'admin.users.list.link_send_registration'|trans }}"></a>
                        {% elseif element.enabled %}
                            <a href="{{ path('app_admin_users_disable', { 'id': element.id }) }}" class="glyphicon glyphicon-remove-sign" title="{{ 'admin.users.list.link_disable'|trans }}"></a>
                        {% else %}
                            <a href="{{ path('app_admin_users_enable', { 'id': element.id }) }}" class="glyphicon glyphicon-ok-sign" title="{{ 'admin.users.list.link_enable'|trans }}"></a>
                        {% endif %}

                    </td>
                </tr>
            {% else %}
                <tr>
                    <th colspan="10" class="text-center">{{ 'table.nb_elements'|transchoice(nbElements) }}</th>
                </tr>
            {% endfor %}
        </table>
    </div>

    {{ include('common/pagination.html.twig') }}
{% endblock %}
