{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('build/style-errors.css') }}" />
{% endblock %}

{% block body %}
    <div id="noResult">
        <div id="errorCont" class="pos-abs">
            <strong>{{ status_code }} - {{ 'errors.others.title'|trans }}</strong> <br>
            <strong style="font-size:18px;">{{ 'errors.others.description'|trans }}</strong>
            <div style="font-size:16px;">
                <br>
                    {{ 'errors.others.status_text'|trans }} {{ status_text }}
            </div>
        </div>
    </div>
{% endblock %}
