{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
    {% import 'common/icons.html.twig' as icons %}

    <h2>{{ 'validation.pictures.list.title'|trans }}</h2>

    <div class="mini-body">
        {{ form_start(form, {'action': path('app_validation_pictures_list')}) }}
        {{ form_widget(form) }}

        <input type="submit" value="{{ 'form.validation.pictures.filter.submit'|trans }}" class="btn btn-primary pull-right" />
        {{ form_end(form) }}
    </div>

    <div class="clear"></div>

    <div class="table-nbElements">{{ 'table.nb_elements'|transchoice(nbElements) }}</div>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>{{ 'validation.pictures.list.table.id'|trans }}</th>
                <th>{{ 'validation.pictures.list.table.user'|trans }}</th>
                <th>{{ 'validation.pictures.list.table.travel'|trans }}</th>
                <th>{{ 'validation.pictures.list.table.picture'|trans }}</th>
                <th>{{ 'validation.pictures.list.table.date'|trans }}</th>
                <th>{{ 'validation.pictures.list.table.place'|trans }}</th>
                <th>{{ 'validation.pictures.list.table.title'|trans }}</th>
                <th>{{ 'validation.pictures.list.table.check_state'|trans }}</th>
                <th>{{ 'validation.pictures.list.table.actions'|trans }}</th>
            </tr>
            {% for element in elements %}
                <tr>
                    <td>
                        {% if workflow_can(element, 'invalidation') %}
                            <a href="{{ path('app_validation_pictures_invalidation', { 'id': element.id }) }}">{{ element.id }}</a>
                        {% else %}
                            {{ element.id }}
                        {% endif %}
                    </td>
                    <td>{{ element.travel.user.username }} ({{ element.travel.user.firstname }} {{ element.travel.user.lastname }})</td>
                    <td>{{ element.travel.title }} ({{ element.travel.place.title }} {{ element.travel.startDate|date('d/m/Y')}}-{{ element.travel.endDate|date('d/m/Y') }})</td>
                    <td><img src="{{ asset('data/pictures/' ~ element.name) }}" width="600px" /></td>
                    <td>{{ element.date|date('d/m/Y') }}</td>
                    <td>{{ element.place.title }}</td>
                    <td>{{ element.title }}</td>
                    <td>{{ element.getTitleCheckState|trans }}</td>
                    <td>
                        {% if workflow_can(element, 'validation') %}
                            <a href="{{ path('app_validation_pictures_validation', { 'id': element.id }) }}" class="glyphicon glyphicon-ok-sign" title="{{ 'validation.pictures.list.link_validation'|trans }}"></a>
                        {% endif %}
                        {% if workflow_can(element, 'invalidation') %}
                            <a href="{{ path('app_validation_pictures_invalidation', { 'id': element.id }) }}" class="glyphicon glyphicon-remove-sign" title="{{ 'validation.pictures.list.link_invalidation'|trans }}"></a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <th colspan="9" class="text-center">{{ 'table.nb_elements'|transchoice(nbElements) }}</th>
                </tr>
            {% endfor %}
        </table>
    </div>

    {% include 'common/pagination.html.twig' with {'page': page, 'nbPages': nbPages, 'route': 'app_validation_pictures_list'} only %}
{% endblock %}
