<nav class="menu navbar navbar-default">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% for item in items %}
                    {% if item.items|length %}
                        <li class="dropdown{% if item.active %} active{% endif %}">
                            <a href="{{ item.route }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> {{ item.title }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% for subItem in item.items %}
                                    <li><a href="{{ subItem.route is not empty ? subItem.route : '#' }}"> {{ subItem.title }} </a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        <li{% if item.active %} class="active"{% endif %}>
                            <a href="{{ item.route is not empty ? item.route : '#' }}"> {{ item.title }} </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
